* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  background-color: #222222;
  padding: 16px 0;
  height: 75px;
}
.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__left a:last-child {
  margin-left: 40px;
}
.header__left a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.header__left a:active {
  transform: scale(1.2);
}
.header__left img:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__right img {
  display: block;
  cursor: pointer;
}
.header__right img:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.header__right img:active {
  transform: scale(1.2);
}
.header__right a:not(:first-child) {
  padding-left: 40px;
}
@media (max-width: 600px) {
  .header__right a:not(:first-child) {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__right span {
    display: none;
  }
}

.header__right_icon {
  position: relative;
}

.header__right_icon span {
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -10px;
  top: -5px;
  font-size: 12px;
  line-height: 19px;
}

.burger {
  position: absolute;
  z-index: 10;
  top: 75px;
  right: 0;
  width: 232px;
  background-color: white;
  padding-left: 34px;
  height: 90vh;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.burger .burger_close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.burger a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  color: #6F6E6E;
}
.burger h2 {
  padding-top: 37px;
  padding-bottom: 24px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
}
.burger h3 {
  color: #F16D7F;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}
.burger__close {
  position: absolute;
  margin-left: 171px;
  margin-top: 16px;
  cursor: pointer;
}
.burger ul {
  padding-left: 17px;
  list-style: none;
  color: #6F6E6E;
  line-height: 155%;
  padding-bottom: 20px;
}
.burger ul a:hover {
  color: black;
  font-weight: bold;
}

.hidden {
  display: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 148px;
  background: #F8F3F4;
}
@media (max-width: 600px) {
  .heading {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
.heading__left {
  display: block;
}
.heading__left a {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
  color: #F16D7F;
  text-decoration: none;
}
.heading__right {
  display: flex;
  justify-content: space-between;
}
.heading__right a {
  color: #6F6E6E;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}
.heading__right a::before {
  content: "/";
  margin: 0 5px;
  color: #636363;
  font-weight: normal;
}
.heading__right a:first-child::before {
  content: "";
  margin: 0 5px;
  color: #F16D7F;
}
.heading__right a:last-child {
  color: #F16D7F;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
  text-decoration: none;
}

.promo {
  background-color: #F1E4E6;
}
.promo__block {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(img/index/man.png);
  background-repeat: no-repeat;
  background-position-x: -20vh;
  background-position-y: bottom;
  background-size: 95vh;
}
@media (max-width: 1024px) {
  .promo__block {
    background-size: 85vh;
    height: 82vh;
  }
}
@media (max-width: 600px) {
  .promo__block {
    display: flex;
    justify-content: center;
    background-image: none;
    height: 50vh;
  }
}
.promo__title {
  border-left: 12px solid #F16D7F;
  padding-left: 20px;
}
.promo__title h1 {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 58px;
}
.promo__title h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 38px;
}
.promo__title span {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 38px;
  color: #F16D7F;
}
@media (max-width: 1024px) {
  .promo__title h1 {
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    line-height: 53px;
  }
  .promo__title h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 29px;
  }
  .promo__title span {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 29px;
    color: #F16D7F;
  }
}
@media (max-width: 600px) {
  .promo__title h1 {
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    line-height: 46px;
  }
  .promo__title h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
  }
  .promo__title span {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    color: #F16D7F;
  }
}
.promo__menu {
  width: 232px;
  height: 100vh;
  background: white;
  margin-left: auto;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.category {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .category {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
.category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}
.category__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__item img {
  filter: brightness(0.5);
}
@media (max-width: 1024px) {
  .category__item {
    width: 100%;
  }
}
.category__item_4 {
  grid-column: 1/-1;
}
@media (max-width: 600px) {
  .category__item_4 {
    height: 180%;
  }
}
.category__item_text {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.category__item_text h4 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}
.category__item_text h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;
  color: #F16D7F;
}

.description__note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 96px 0 48px 0;
}
.description__note h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
  color: black;
}
.description__note p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #9F9F9F;
}
@media (max-width: 1024px) {
  .description {
    margin: 154px 0 93px 0;
  }
}

.browse {
  display: flex;
  justify-content: center;
  margin: 48.5px 0 95.5px 0;
  color: #F16D7F;
}
@media (max-width: 1024px) {
  .browse {
    margin: 33px 0 64px 0;
  }
}
.browse a {
  padding: 13.5px 30px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}
.browse a:hover {
  color: white;
  background: #F16D7F;
  transition: 0.3s;
}

.inform {
  background: #222224;
  min-height: 341px;
  display: flex;
  align-items: center;
}
.inform__block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .inform__block {
    flex-direction: column;
    align-items: center;
  }
  .inform__block:first-child {
    padding-top: 48px;
  }
}
.inform__element {
  width: 30%;
  text-align: center;
  color: #FBFBFB;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .inform__element {
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    width: 100%;
    max-width: 350px;
  }
}
.inform__element img {
  height: 40px;
}
.inform__element h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
  padding: 16px 0 16px 0;
}
.inform__element p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}

.subscribe {
  min-height: 450px;
  background-image: url(img/footer/subscribe-back.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .subscribe {
    display: flex;
    height: 610px;
    align-content: space-around;
    align-items: initial;
    justify-content: initial;
  }
}
.subscribe__block {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 1024px) {
  .subscribe__block {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
}
.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 360px;
}
.subscribe__left span {
  font-style: italic;
}
.subscribe__left img {
  width: 96px;
  margin-bottom: 30px;
}
.subscribe__left p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}
@media (max-width: 600px) {
  .subscribe__left p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscribe__right form {
  display: flex;
  justify-content: center;
}
.subscribe__right h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .subscribe__right h3 {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 17px;
  }
}
.subscribe__right span {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;
}
.subscribe__right input {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 49px;
  width: 256px;
  border: none;
  float: left;
  background-color: E1E1E1;
  padding-left: 22px;
}
@media (max-width: 600px) {
  .subscribe__right input {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 17px;
    width: 60vw;
  }
}
.subscribe__right button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 49px;
  width: 100px;
  border: 0;
  background-color: #F16D7F;
  color: white;
  cursor: pointer;
}
.subscribe__right_form {
  height: 49px;
}

.footer {
  height: 80px;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .footer {
    height: 143px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}
.footer__left {
  color: white;
}
.footer__right {
  display: flex;
  justify-content: flex-end;
  color: white;
}
@media (max-width: 600px) {
  .footer__right {
    margin-top: 40px;
  }
}
.footer__link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  width: 35px;
  height: 32px;
  display: flex;
  align-items: center;
}
.footer__link:hover {
  background-color: #EF5B70;
  transition: 0.3s;
}
.footer__link:active {
  transform: scale(1.4);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.card__block {
  max-width: 360px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.card__block img {
  display: block;
  color: white;
}
@media (max-width: 1024px) {
  .card__block:nth-child(2n) {
    margin-right: auto;
  }
  .card__block:nth-child(2n+1) {
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .card__block:nth-child(2n) {
    margin-right: 0;
  }
  .card__block:nth-child(2n+1) {
    margin-left: 0;
  }
}
.card__block_text {
  background-color: #F8F8F8;
  padding: 25.5px 16.5px 20px 16.5px;
  max-width: 360px;
}
.card__block_text a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #000000;
}
.card__block_text a:hover {
  color: #F16D7F;
}
.card__block_text p {
  padding-top: 12.5px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #5D5D5D;
}
.card__block_text h4 {
  padding-top: 18px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #F16D7F;
}
.card__basket {
  position: absolute;
  height: 420px;
  width: 100%;
  background-color: rgba(75, 75, 75, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
  top: 0;
}
.card__block:hover .card__basket {
  opacity: 1;
}
.card__block:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.card__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  border: 1px solid white;
  padding: 10px 13px;
  text-decoration: none;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: white;
  position: absolute;
  cursor: pointer;
}
.card__button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0 96px 0;
  width: 290px;
  list-style-type: none;
  border: 1px solid #ebebeb;
  padding: 14px 14px;
  cursor: pointer;
}
.pages a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #9F9F9F;
}
.pages a:hover {
  color: #F16D7F;
}
.pages__link {
  color: #e2dfdf;
  margin: 8px;
  cursor: pointer;
}

.filter {
  margin: 51px 0px 64px 0px;
}
@media (max-width: 600px) {
  .filter {
    margin: 24px 0px 40px 0px;
  }
}
.filter__button {
  display: flex;
}
.filter__left {
  position: absolute;
  outline: none;
  border: none;
}
.filter__up {
  z-index: 1;
  background-color: #FFFFFF;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}
.filter__up[open] {
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.filter__up[open] > summary {
  color: #F16D7F;
  outline: none;
  border: none;
}
.filter__down {
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter__down :hover {
  color: #F16D7F;
  background: #FFFFFF;
}
.filter__down h3 {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 17px;
  color: #000000;
  margin-left: 10px;
  z-index: 1;
}
@media (max-width: 600px) {
  .filter__down h3 {
    display: none;
  }
}
.filter__down svg {
  margin-left: 11px;
  z-index: 1;
  width: 15px;
  height: 10px;
}
.filter__down svg:hover {
  fill: #F16D7F;
}
@media (max-width: 600px) {
  .filter__down svg {
    width: 38px;
    height: 25px;
  }
}
.filter__content {
  position: absolute;
  background-color: #FFFFFF;
  max-width: 360px;
  width: 90vw;
  left: 0;
  padding-top: 30px;
  top: -10px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__catlist {
  margin: 20px 0 0px 10px;
}
.filter__catlist:nth-child(3) {
  margin-bottom: 20px;
}
.filter__deep {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-right: 10px;
  padding: 15px;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  line-height: 17px;
  color: #F16D7F;
  cursor: pointer;
}
.filter__points {
  height: 344px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  color: #6F6E6E;
  padding: 17px 0 0 34px;
}
.filter__points a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #6F6E6E;
}

.sorting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1024px) {
  .sorting {
    justify-content: flex-end;
  }
}
@media (max-width: 400px) {
  .sorting {
    flex-direction: column;
    align-content: flex-end;
  }
}
.sorting select {
  cursor: pointer;
}
.sorting__items {
  margin-right: 28px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}
@media (max-width: 600px) {
  .sorting__items {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 400px) {
  .sorting__items {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.sorting__items:last-child {
  margin-right: 0;
}
.sorting__items select {
  text-transform: uppercase;
  color: #6F6E6E;
  background: #FFFFFF;
  border: none;
}
.sorting__round {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  width: 100%;
  position: relative;
  height: 75vh;
}
@media (max-width: 1024px) {
  .slider {
    height: 624px;
  }
}
.slider__btn {
  border-style: none;
  background: rgba(42, 42, 42, 0.15);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn:hover {
  color: #F16D7F;
  cursor: pointer;
  transition: 0.3s;
}
.slider .left,
.slider .right {
  width: 47px;
  height: 47px;
  position: absolute;
}
.slider .left {
  left: 0;
}
.slider .right {
  right: 0;
}
.slider img {
  margin-bottom: 64px;
  width: 55vh;
}
@media (max-width: 1024px) {
  .slider img {
    width: 466px;
  }
}
@media (max-width: 600px) {
  .slider img {
    max-width: 374px;
    width: 100%;
  }
}

.specification {
  width: 80vw;
  border: 1px solid #EAEAEA;
  margin-top: -64px;
  margin-bottom: 129px;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .specification {
    margin-top: 0;
    width: 100%;
  }
}
.specification__filter {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  width: 380px;
}
@media (max-width: 400px) {
  .specification__filter {
    max-width: 305px;
    width: 100%;
    flex-wrap: wrap;
  }
}
.specification .hr_top {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  border: none;
}
.specification .hr_buttom {
  width: 57%;
  height: 1px;
  border: none;
  background-color: #9F9F9F;
}
.specification h2 {
  padding-top: 64px;
  padding-bottom: 13px;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}
.specification h3 {
  margin-top: 12px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.specification p {
  margin-top: 48.5px;
  color: #5E5E5E;
  text-align: center;
  width: 50%;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}
@media (max-width: 1024px) {
  .specification p {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .specification p {
    width: 90%;
  }
}
.specification__price {
  line-height: 29px;
  color: #F16D7F;
  margin: 32px 0 65px 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
}
.specification select {
  text-transform: uppercase;
  color: #6F6E6E;
  background: #FFFFFF;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}
@media (max-width: 600px) {
  .specification select {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
  }
}
.specification__button {
  display: flex;
  justify-content: center;
  margin: 49px 0 65px 0;
}
.specification__input {
  border: 1px solid #F16D7F;
  text-decoration: none;
  padding: 14px 25px;
  color: #F16D7F;
  display: flex;
  justify-content: space-between;
}
.specification__input:hover {
  color: white;
  background-color: #F16D7F;
  transition: 0.3s;
}
.specification__input i {
  padding-right: 20px;
  padding-top: 2px;
}

.product__margin-top {
  margin-top: 128px;
}
@media (max-width: 600px) {
  .product__margin-top {
    margin-top: 64px;
  }
}

@media (max-width: 1024px) {
  .display-none {
    display: none;
  }
}

.product-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .product-cart {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .product-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product-left__block {
  display: flex;
  justify-content: flex-start;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
}
.product-left__block:first-child {
  margin-bottom: 40px;
  margin-top: 96px;
}
@media (max-width: 1024px) {
  .product-left__block {
    max-width: 734px;
    width: 100%;
  }
  .product-left__block:first-child {
    margin-bottom: 40px;
    margin-top: 60px;
  }
}
@media (max-width: 600px) {
  .product-left__block {
    max-width: 434px;
    width: 100%;
  }
  .product-left__block:first-child {
    margin-bottom: 30px;
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .product-left__img {
    display: block;
    width: 158px;
  }
}
.product-left__text {
  width: 100%;
  max-width: 734px;
  display: flex;
  flex-direction: column;
  padding: 22px 80px 22px 32px;
  position: relative;
}
@media (max-width: 1024px) {
  .product-left__text {
    padding: 14px 53px 36px 17px;
  }
}
@media (max-width: 600px) {
  .product-left__text {
    padding: 14px 40px 36px 17px;
  }
}
.product-left__text .Quantity {
  display: flex;
  align-items: flex-end;
}
.product-left__text .Quantity__text {
  width: 44px;
  height: 25px;
  margin-left: 28px;
  border: 1px solid #EAEAEA;
  display: flex;
  padding-left: 15px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 600px) {
  .product-left__text .Quantity__text {
    width: 24px;
    height: 15px;
    margin-left: 15px;
    padding-left: 8px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
  }
}
.product-left__text h4 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
}
@media (max-width: 600px) {
  .product-left__text h4 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
  }
}
.product-left__text ul {
  padding-top: 42px;
  list-style-type: none;
  color: #575757;
}
.product-left__text .Quantity {
  color: #575757;
}
.product-left__text li,
.product-left__text .Quantity_input {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}
@media (max-width: 600px) {
  .product-left__text li,
.product-left__text .Quantity_input {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 17px;
  }
}
.product-left__text span {
  color: #F16D7F;
}
.product-left__text button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  top: 28px;
  right: 22px;
}
.product-left__text button :hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .product-left__text button {
    top: 15px;
  }
}
@media (max-width: 600px) {
  .product-left__text .product-left__close {
    width: 11px;
    height: 11px;
  }
}

.cart-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 72.5px;
}
.cart-nav :hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .cart-nav {
    width: 100%;
    margin-top: 62.5px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .cart-nav {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
  }
}
.cart-nav a {
  display: block;
  outline: 1px solid #A4A4A4;
  padding: 17px 40px;
  color: #000000;
  text-decoration: none;
}
.cart-nav a:first-child {
  margin-right: 25px;
}
.cart-nav a:last-child {
  margin-left: 25px;
}
@media (max-width: 600px) {
  .cart-nav a {
    padding: 9px 17px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 13px;
    text-align: center;
  }
  .cart-nav a:first-child {
    margin-right: 5px;
  }
  .cart-nav a:last-child {
    margin-left: 5px;
  }
}

.product-right {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .product-right {
    margin-left: 0;
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .product-right {
    flex-direction: column;
    align-items: center;
  }
}
.product-right__form {
  width: 31vw;
  max-width: 360px;
  height: 272px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .product-right__form {
    width: 47%;
    max-width: 360px;
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .product-right__form {
    width: 100%;
    max-width: 360px;
    margin-top: 0;
  }
}
.product-right__form p {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 19px;
  display: block;
}
.product-right__form input {
  display: block;
  height: 45px;
  outline: 1px solid #A4A4A4;
  padding-left: 17px;
  border: none;
}
.product-right__form button {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 13px;
  display: block;
  width: 102px;
  height: 35px;
  padding: 10px;
  background: none;
  border: none;
  outline: 1px solid #A4A4A4;
  cursor: pointer;
}
.product-right__form button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.product-right__subtotal {
  width: 31vw;
  max-width: 360px;
  height: 214px;
  margin-top: 57.5px;
  background: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}
@media (max-width: 1024px) {
  .product-right__subtotal {
    margin-top: 17px;
    width: 47%;
    max-width: 360px;
  }
}
@media (max-width: 1024px) {
  .product-right__subtotal {
    margin-top: 50px;
    width: 100%;
    max-width: 360px;
  }
}
.product-right__subtotal p {
  text-align: right;
  padding-right: 34px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 13px;
  color: #222222;
  margin-top: 39px;
}
.product-right__subtotal p span {
  margin-left: 20px;
}
.product-right__subtotal h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  padding-right: 34px;
  margin-top: 12px;
}
.product-right__subtotal h3 span {
  margin-left: 20px;
  font-weight: bold;
  color: #F16D7F;
}
.product-right__subtotal .subtotal-a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-right__subtotal .subtotal-a a {
  outline: none;
  width: 70%;
  text-align: center;
  background-color: #F16D7F;
  color: white;
  padding: 15px 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}
.product-right__subtotal .subtotal-hr {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product-right__subtotal .subtotal-hr hr {
  width: 80%;
}
.product-right__subtotal hr {
  display: block;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 21px 0 17px 0;
  width: 275px;
  width: 70%;
  height: 1px;
  border: none;
  background-color: #E2E2E2;
}

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 600px) {
  .registration-block {
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
  }
}

.reg-form {
  max-width: 360px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .reg-form {
    margin-right: 0;
  }
}
.reg-form__input {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 16px;
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 17px;
  background-image: url(../img/registration/arrow.svg);
}
.reg-form__ln, .reg-form__pw {
  margin-top: 21px;
}
.reg-form h4 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}
.reg-form p {
  margin: 15.5px 0 39px 0;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 16px;
  color: #B1B1B1;
}
.reg-form__gender {
  margin: 32px 0 33px 0;
}
.reg-form__submit {
  width: 167px;
  height: 50px;
  background: white;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  cursor: pointer;
  padding-right: 10%;
  background-image: url(../img/registration/arrow-pink.svg);
  background-repeat: no-repeat;
  background-position-x: 121px;
  background-position-y: center;
}
.reg-form__submit:hover {
  color: white;
  background: #F16D7F;
  transition: 0.3s;
  background-image: url(../img/registration/arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 121px;
  background-position-y: center;
}
.reg-form__gender-r {
  margin-left: 20px;
}

.reg-list {
  max-width: 640px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .reg-list {
    margin-top: 40px;
  }
}
.reg-list h3 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
}
@media (max-width: 1024px) {
  .reg-list h3 {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 19px;
    margin-bottom: 15px;
  }
}
.reg-list p {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .reg-list p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 19px;
  }
}
.reg-list ul {
  list-style-image: url(../img/registration/check.svg);
  list-style-position: inside;
}
.reg-list li {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
}
@media (max-width: 1024px) {
  .reg-list li {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 19px;
    padding-bottom: 25px;
  }
}

.registration__margin-top {
  margin-top: 96px;
}/*# sourceMappingURL=style.css.map */