* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.header {
  background-color: #222222;
}

.header__wrap {
  padding: 16px 0;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__left a:last-child {
  padding-left: 40px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__right img {
  display: block;
  cursor: pointer;
}

.header__right a:not(:first-child) {
  padding-left: 40px;
}

.header__right_icon {
  position: relative;
  padding-left: 40px;
}

.header__right_icon span {
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -10px;
  top: -5px;
  font-size: 12px;
  line-height: 19px;
}

.promo {
  background-color: #F1E4E6;
  position: relative;
}

.promo__block {
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(/img/index/man.png);
  background-repeat: no-repeat;
  background-position-x: -228px;
}

.promo__title {
  border-left: 12px solid #F16D7F;
  padding-left: 20px;
}

.promo__title h1 {
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
}

.promo__title h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 38px;
}

.promo__title span {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 38px;
  color: #F16D7F;
}

.promo__menu {
  width: 232px;
  height: 100vh;
  background: white;
  margin-left: auto;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.promo .hidden {
  display: none;
}

.category {
  padding-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}

.category__item {
  background-image: url(/img/index/bacground-mini.png);
  height: 100%;
  width: 100%;
}

.category__item_4 {
  grid-column: 1/-1;
}

.category__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__item_text {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.category__item_text h4 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}

.category__item_text h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;
  color: #F16D7F;
}

.description__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 48px 0;
}

.description__note h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
  color: black;
}

.description__note p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #9F9F9F;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card__block {
  width: 360px;
  min-height: 582px;
  position: relative;
  overflow: hidden;
}

.card__block_img {
  height: 420px;
}

.card__block_text {
  background-color: #F8F8F8;
  padding: 0 16.5px;
}

.card__block_text a {
  display: block;
  text-decoration: none;
  padding-top: 25.5px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #000000;
}

.card__block_text p {
  padding-top: 12.5px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #5D5D5D;
}

.card__block_text h4 {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #F16D7F;
}

.card__basket {
  position: absolute;
  height: 420px;
  width: 360px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
}

.card__block:hover .card__basket {
  opacity: 1;
}

.card__block:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  border: 1px solid white;
  padding: 10px 13px;
  text-decoration: none;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: white;
  position: absolute;
  cursor: pointer;
}

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48.5px 0 95.5px 0;
  color: #F16D7F;
}

.browse a {
  padding: 13.5px 30px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}

.browse a:hover {
  color: white;
  background: #F16D7F;
}

.inform {
  background: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inform__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform__element {
  width: 33%;
  height: 135px;
  text-align: center;
  color: #FBFBFB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform__element img {
  height: 40px;
}

.inform__element h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
}

.inform__element p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
}

.subscribe {
  min-height: 450px;
  background-image: url(/img/footer/subscribe-back.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 360px;
}

.subscribe__left span {
  font-style: italic;
}

.subscribe__left img {
  width: 96px;
  margin-bottom: 30px;
}

.subscribe__left p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

.subscribe__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 550px;
}

.subscribe__right h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 30px;
}

.subscribe__right span {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;
}

.subscribe__right input {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 49px;
  width: 256px;
  border: none;
  float: left;
  background-color: E1E1E1;
  padding-left: 22px;
}

.subscribe__right button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 49px;
  width: 100px;
  border: 0;
  background-color: #F16D7F;
  color: white;
  cursor: pointer;
}

.subscribe__right_form {
  height: 49px;
}

.footer {
  height: 80px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  color: white;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}

.footer__link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  width: 35px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link:hover {
  background-color: #EF5B70;
}
/*# sourceMappingURL=style.css.map */