.product-cart {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

   //Адаптив
   @media (max-width: $max_tablet) {
      flex-direction: column;
      align-items: center;
   }
}

.product-left {

   //Адаптив
   @media (max-width: $max_tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   &__block {
      display: flex;
      justify-content: flex-start;
      box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
      width: 652px;

      &:first-child {
         margin-bottom: 40px;
         margin-top: 96px;
      }

      //Адаптив
      @media (max-width: $max_tablet) {
         max-width: 734px;
         width: 100%;

         &:first-child {
            margin-bottom: 40px;
            margin-top: 60px;
         }

      }

      @media (max-width: $max_mobile) {
         max-width: 434px;
         width: 100%;

         &:first-child {
            margin-bottom: 30px;
            margin-top: 40px;
         }
      }

   }

   &__img {
      @media (max-width: $max_mobile) {
         display: block;
         width: 158px;
      }
   }

   &__text {
      width: 100%;
      max-width: 734px;
      display: flex;
      flex-direction: column;
      padding: 22px 80px 22px 32px;
      position: relative;

      //Адаптив
      @media (max-width: $max_tablet) {
         padding: 14px 53px 36px 17px;
      }

      @media (max-width: $max_mobile) {
         padding: 14px 40px 36px 17px;
      }

      .Quantity {
         display: flex;
         align-items: flex-end;

         &__text {
            width: 44px;
            height: 25px;
            margin-left: 28px;
            border: 1px solid #EAEAEA;
            display: flex;
            padding-left: 15px;
            @include font_18;

            //Адаптив
            @media (max-width: $max_mobile) {
               width: 24px;
               height: 15px;
               margin-left: 15px;
               padding-left: 8px;
               @include font_10;
            }
         }
      }

      & h4 {
         @include font_24;

         @media (max-width: $max_mobile) {
            @include font_16;
         }
      }

      & ul {
         padding-top: 42px;
         list-style-type: none;
         color: #575757;
      }

      .Quantity {
         color: #575757;
      }

      & li,
      .Quantity_input {
         @include font_22 ($lh:30px);

         @media (max-width: $max_mobile) {
            @include font_14;
         }
      }

      & span {
         color: $pink;
      }

      & button {
         position: absolute;
         border: none;
         background: none;
         cursor: pointer;
         top: 28px;
         right: 22px;

         & :hover {
            opacity: 0.7;
            transition: 0.3s;
         }

         @media (max-width: $max_mobile) {
            top: 15px;
         }
      }

      .product-left__close {
         @media (max-width: $max_mobile) {
            width: 11px;
            height: 11px;
         }
      }
   }
}

.cart-nav {
   display: flex;
   justify-content: space-between;
   margin-top: 72.5px;

   & :hover {
      opacity: 0.7;
      transition: 0.3s;
   }

   //Адаптив
   @media (max-width: $max_tablet) {
      width: 100%;
      margin-top: 62.5px;
      justify-content: center;
   }

   @media (max-width: $max_mobile) {
      width: 100%;
      margin-top: 30px;
      justify-content: center;
   }

   & a {
      display: block;
      outline: 1px solid #A4A4A4;
      padding: 17px 40px;
      color: #000000;
      text-decoration: none;


      &:first-child {
         margin-right: 25px;
      }

      &:last-child {
         margin-left: 25px;
      }

      //Адаптив
      @media (max-width: $max_mobile) {
         padding: 9px 17px;
         @include font_11;
         text-align: center;

         &:first-child {
            margin-right: 5px;
         }

         &:last-child {
            margin-left: 5px;
         }
      }
   }
}

.product-right {
   //Отступ
   margin-left: 20px;

   //Адаптив
   @media (max-width: $max_tablet) {
      margin-left: 0;
      width: 100%;
      margin-top: 64px;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   @media (max-width: $max_mobile) {
      flex-direction: column;
      align-items: center;
   }

   &__form {
      width: 31vw;
      max-width: 360px;
      height: 272px;
      margin-top: 96px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      //Адаптив
      @media (max-width: $max_tablet) {
         width: 47%;
         max-width: 360px;
         margin-top: 0;
      }

      @media (max-width: $max_mobile) {
         width: 100%;
         max-width: 360px;
         margin-top: 0;
      }

      & p {
         @include font_16 ($fw:300);
         display: block;
      }

      & input {
         display: block;
         height: 45px;
         outline: 1px solid #A4A4A4;
         padding-left: 17px;
         border: none;

      }

      & button {
         @include font_11;
         display: block;
         width: 102px;
         height: 35px;
         padding: 10px;
         background: none;
         border: none;
         outline: 1px solid #A4A4A4;
         cursor: pointer;

         &:hover {
            opacity: 0.7;
            transition: 0.3s;
         }
      }
   }

   &__subtotal {
      width: 31vw;
      max-width: 360px;
      height: 214px;
      margin-top: 57.5px;
      background: #F5F3F3;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: start;

      //Адаптив
      @media (max-width: $max_tablet) {
         margin-top: 17px;
         width: 47%;
         max-width: 360px;
      }

      @media (max-width: $max_tablet) {
         margin-top: 50px;
         width: 100%;
         max-width: 360px;
      }


      & p {
         text-align: right;
         padding-right: 34px;
         @include font_11;
         color: #222222;
         margin-top: 39px;

         & span {
            margin-left: 20px;
         }

      }

      & h3 {
         @include font_16;
         padding-right: 34px;
         margin-top: 12px;

         & span {
            margin-left: 20px;
            font-weight: bold;
            color: $pink;
         }
      }



      .subtotal-a {
         width: 100%;
         display: flex;
         justify-content: center;

         & a {
            outline: none;
            width: 70%;
            text-align: center;
            background-color: $pink;
            color: white;
            padding: 15px 10px;
            border: none;
            text-decoration: none;
            cursor: pointer;
            @include font_16;
         }
      }

      .subtotal-hr {
         display: flex;
         justify-content: center;
         width: 100%;

         & hr {
            width: 80%;
         }
      }

      & hr {
         display: block;
         display: flex;
         justify-content: center;
         text-align: center;
         margin: 21px 0 17px 0;
         width: 275px;
         width: 70%;
         height: 1px;
         border: none;
         background-color: #E2E2E2;
      }
   }
}