.card {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   justify-items: center;
   width: 100%;

   //Адаптив
   @media (max-width: $max_tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
   }

   @media (max-width: $max_mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
   }

   &__block {
      max-width: 360px;
      width: 100%;
      position: relative;
      overflow: hidden;

      & img {
         display: block;
         color: white;
      }

      @media (max-width: $max_tablet) {
         &:nth-child(2n) {
            margin-right: auto;
         }

         &:nth-child(2n+1) {
            margin-left: auto;
         }
      }

      @media (max-width: $max_mobile) {
         &:nth-child(2n) {
            margin-right: 0;
         }

         &:nth-child(2n+1) {
            margin-left: 0;
         }
      }
   }

   &__block_text {
      background-color: #F8F8F8;
      padding: 25.5px 16.5px 20px 16.5px;
      max-width: 360px;
      // padding-top: 25.5px;
      // padding-bottom: 20px;

      & a {
         display: block;
         text-decoration: none;
         // padding-top: 25.5px;
         @include font_16;
         color: #000000;

         &:hover {
            color: $pink;
         }
      }

      & p {
         padding-top: 12.5px;
         @include font_14;
         color: #5D5D5D;
      }

      & h4 {
         padding-top: 18px;
         // padding-bottom: 20px;
         @include font_16;
         color: $pink;
      }
   }

   //Затемнение карточки
   &__basket {
      position: absolute;
      height: 420px;
      width: 100%;
      background-color: rgba(75, 75, 75, 0.712);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.6s;
      top: 0;
   }

   &__block:hover .card__basket {
      opacity: 1;
   }

   &__block:hover {
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
   }

   &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      border: 1px solid white;
      padding: 10px 13px;
      text-decoration: none;
      background: transparent;
      @include font_14;
      color: white;
      position: absolute;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
         transition: 0.2s;
      }

   }
}