.header {
   background-color: #222222;

   &__wrap {
      padding: 16px 0;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      & a:last-child {
         padding-left: 40px;
      }
   }

   &__right {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      & img {
         display: block;
         cursor: pointer;
      }

      & a:not(:first-child) {
         padding-left: 40px;
      }
   }
}

.header__right_icon {
   position: relative;
   padding-left: 40px;
}

.header__right_icon span {
   width: 19px;
   height: 19px;
   color: white;
   background: #f16d7f;
   border-radius: 50%;
   position: absolute;
   text-align: center;
   right: -10px;
   top: -5px;
   font-size: 12px;
   line-height: 19px;
}