.promo {
   background-color: #F1E4E6;

   &__block {
      // min-height: 764px;
      height: 91vh;
      background-image: url(/img/index/man.png);
      background-repeat: no-repeat;
      background-position-x: -227px;
      background-size: 97vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   &__title {
      border-left: 12px solid $pink;
      padding-left: 20px;

      & h1 {
         @include font_48
      }

      & h2 {
         @include font_32 ($fw:bold)
      }

      & span {
         @include font_32 ($fw:bold);
         color: $pink;
      }
   }
}

.category {
   padding-top: 65px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;

   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
   }


   &__item {
      background-image: url(/img/index/bacground-mini.png);
      //хочу добавить затемнение фона, не понимаю почему работает только для последнего изображения
      height: 100%;
      width: 100%;
   }

   &__item_4 {
      grid-column: 1/-1;
   }

   &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__item_text {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;

      & h4 {
         @include font_16;
      }

      & h3 {
         @include font_24 ($fw: bold);
         color: $pink;
      }
   }
}

.description {
   &__note {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 96px 0 48px 0;

      & h3 {
         @include font_30;
         color: black;
      }

      & p {
         @include font_14;
         color: $gray;
      }
   }
}

.card {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;

   &__block {
      width: 360px;
      min-height: 582px;
      position: relative;
      overflow: hidden;
   }

   &__block_img {
      height: 420px;
   }

   &__block_text {
      background-color: #F8F8F8;
      padding: 0 16.5px;

      & a {
         display: block;
         text-decoration: none;
         padding-top: 25.5px;
         @include font_16;
         color: #000000;
      }

      & p {
         padding-top: 12.5px;
         @include font_14;
         color: #5D5D5D;
      }

      & h4 {
         padding-top: 18px;
         padding-bottom: 20px;
         @include font_16;
         color: $pink;
      }
   }

   //Затемнение карточки
   &__basket {
      position: absolute;
      height: 420px;
      width: 360px;
      background-color: rgba(58, 56, 56, 0.83);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.5s;
      top: 0;
   }

   &__block:hover .card__basket {
      opacity: 1;
   }

   &__block:hover {
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
   }

   &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      border: 1px solid white;
      padding: 10px 13px;
      text-decoration: none;
      background: transparent;
      @include font_14;
      color: white;
      position: absolute;
      cursor: pointer;
   }
}

.browse {
   display: flex;
   justify-content: center;
   margin: 48.5px 0 95.5px 0;
   color: $pink;


   & a {
      padding: 13.5px 30px;
      text-decoration: none;
      text-align: center;
      border: 1px solid $pink;
      color: $pink;
      @include font_16;

      &:hover {
         color: white;
         background: $pink;
      }
   }
}

.inform {
   background: #222224;
   height: 341px;
   display: flex;
   align-items: center;

   &__block {
      display: flex;
      justify-content: space-between;
   }

   &__element {

      & img {
         height: 40px;
      }

      & h3 {
         @include font_24
      }

      & p {
         @include font_14
      }

      width: 33%;
      height: 135px;
      text-align: center;
      color: #FBFBFB;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.subscribe {
   min-height: 450px;
   background-image: url(/img/footer/subscribe-back.png);
   background-repeat: no-repeat;
   background-position: 100%;
   background-size: cover;

   &__block {
      display: flex;
      justify-content: space-between;
      align-items: end;
   }

   &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      // height: 225px;
      width: 360px;

      & img {
         width: 96px;
      }

      & p {
         @include font_24;
      }
   }

   &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 550px;

      & p {
         @include font_24;
      }
   }
}