.promo {
   background-color: #F1E4E6;

   &__block {
      // min-height: 764px;
      height: 92vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-image: url(img/index/man.png);
      background-repeat: no-repeat;
      background-position-x: -20vh;
      background-position-y: bottom;
      background-size: 95vh;

      //Адаптив
      @media (max-width: $max_tablet) {
         background-size: 85vh;
         height: 82vh;
      }

      @media (max-width: $max_mobile) {
         display: flex;
         justify-content: center;
         background-image: none;
         height: 50vh;

      }
   }

   &__title {
      border-left: 12px solid $pink;
      padding-left: 20px;

      & h1 {
         @include font_48 ($fw:bold);
      }

      & h2 {
         @include font_32 ($fw:bold);
      }

      & span {
         @include font_32 ($fw:bold);
         color: $pink;
      }

      //адаптив
      @media (max-width: $max_tablet) {

         & h1 {
            @include font_44 ($fw:bold);
         }

         & h2 {
            @include font_24 ($fw:bold);
         }

         & span {
            @include font_24 ($fw:bold);
            color: $pink;
         }
      }

      @media (max-width: $max_mobile) {

         & h1 {
            @include font_38 ($fw:bold);
         }

         & h2 {
            @include font_20 ($fw:bold);
         }

         & span {
            @include font_20 ($fw:bold);
            color: $pink;
         }
      }
   }

   &__menu {
      width: 232px;
      height: 100vh;
      background: white;
      margin-left: auto;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
   }
}

.category {
   padding-top: 65px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;

   //Адапив
   @media (max-width: $max_tablet) {
      padding-top: 20px;
   }

   @media (max-width: $max_mobile) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
   }

   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
   }


   &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
         filter: brightness(0.5);
      }

      //Адапив
      @media (max-width: $max_tablet) {
         width: 100%;
      }
   }

   &__item_4 {
      grid-column: 1/-1;

      //Адапив
      @media (max-width: $max_mobile) {
         height: 180%;
      }
   }

   &__item_text {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;

      & h4 {
         @include font_16;
      }

      & h3 {
         @include font_24 ($fw: bold);
         color: $pink;
      }
   }
}

.description {
   &__note {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 96px 0 48px 0;

      & h3 {
         @include font_30;
         color: black;
      }

      & p {
         @include font_14;
         color: $gray;
      }
   }

   //Адапив
   @media (max-width: $max_tablet) {
      margin: 154px 0 93px 0;
   }
}



.browse {
   display: flex;
   justify-content: center;
   margin: 48.5px 0 95.5px 0;
   color: $pink;

   //Адапив
   @media (max-width: $max_tablet) {
      margin: 33px 0 64px 0;
   }

   & a {
      padding: 13.5px 30px;
      text-decoration: none;
      text-align: center;
      border: 1px solid $pink;
      color: $pink;
      @include font_16;

      &:hover {
         color: white;
         background: $pink;
         transition: 0.3s;
      }
   }
}

.inform {
   background: #222224;
   min-height: 341px;
   display: flex;
   align-items: center;

   &__block {
      display: flex;
      justify-content: space-between;

      //Адапив
      @media (max-width: $max_tablet) {
         flex-direction: column;
         align-items: center;

         &:first-child {
            padding-top: 48px;
         }

      }
   }

   &__element {
      width: 30%;
      text-align: center;
      color: #FBFBFB;
      box-sizing: border-box;

      //Адапив
      @media (max-width: $max_tablet) {
         flex-direction: column;
         align-items: center;
         padding-bottom: 48px;
         width: 100%;
         max-width: 350px;
      }

      & img {
         height: 40px;
      }

      & h3 {
         @include font_24;
         padding: 16px 0 16px 0;
      }

      & p {
         @include font_14
      }
   }
}

.subscribe {
   min-height: 450px;
   background-image: url(img/footer/subscribe-back.png);
   background-repeat: no-repeat;
   background-position: 100%;
   background-size: cover;
   display: flex;
   align-items: center;

   //Адаптив
   @media (max-width: $max_tablet) {
      display: flex;
      height: 610px;
      align-content: space-around;
      align-items: initial;
      justify-content: initial;
   }

   &__block {
      display: flex;
      justify-content: space-between;
      align-items: end;

      //Адаптив
      @media (max-width: $max_tablet) {
         display: flex;
         justify-content: space-evenly;
         flex-direction: column;
         align-items: center;
      }
   }

   &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 360px;

      & span {
         font-style: italic;
      }

      & img {
         width: 96px;
         margin-bottom: 30px;
      }

      & p {
         @include font_20;

         //Адаптив
         @media (max-width: $max_mobile) {
            @include font_18;
         }
      }
   }

   &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;


      & form {
         display: flex;
         justify-content: center;
      }

      & h3 {
         @include font_18;
         margin-bottom: 30px;

         //Адаптив
         @media (max-width: $max_mobile) {
            @include font_14;
         }
      }

      & span {
         @include font_24 ($fw:bold);
      }

      & input {
         border-bottom-left-radius: 25px;
         border-top-left-radius: 25px;
         height: 49px;
         width: 256px;
         border: none;
         float: left;
         background-color: E1E1E1;
         padding-left: 22px;

         //Адаптив
         @media (max-width: $max_mobile) {
            @include font_14;
            // width: 230px;
            width: 60vw;
         }

      }

      & button {
         border-bottom-right-radius: 25px;
         border-top-right-radius: 25px;
         height: 49px;
         width: 100px;
         border: 0;
         background-color: $pink;
         color: white;
         cursor: pointer;
      }
   }

   &__right_form {
      height: 49px;
   }
}

.footer {
   height: 80px;
   background-color: #222224;
   display: flex;
   justify-content: space-between;
   align-items: center;

   //Адаптив
   @media (max-width: $max_mobile) {
      height: 143px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
   }

   &__left {
      color: white;
   }

   &__right {
      display: flex;
      justify-content: flex-end;
      color: white;

      @media (max-width: $max_mobile) {
         margin-top: 40px;
      }
   }

   &__link {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      background-color: white;
      padding: 10px;
      margin: 5px;
      width: 35px;
      height: 32px;
      display: flex;
      align-items: center;

      &:hover {
         background-color: #EF5B70;
         transition: 0.3s;
      }

      &:active {
         transform: scale(1.4);
      }
   }
}