.slider {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F7F7F7;
   width: 100%;
   position: relative;
   height: 75vh;



   //Адаптив
   @media (max-width: $max_tablet) {
      height: 624px;
   }

   &__btn {
      border-style: none;
      background: rgba(42, 42, 42, 0.15);
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__btn:hover {
      color: $pink;
      cursor: pointer;
      transition: 0.3s;
   }

   .left,
   .right {
      width: 47px;
      height: 47px;
      position: absolute;
   }

   .left {
      left: 0;
   }

   .right {
      right: 0;
   }

   & img {
      margin-bottom: 64px;
      width: 55vh;

      //Адаптив
      @media (max-width: $max_tablet) {
         // width: 50%;
         width: 466px;
      }

      @media (max-width: $max_mobile) {
         max-width: 374px;
         width: 100%;
      }
   }
}


.specification {
   width: 80vw;
   border: 1px solid #EAEAEA;
   margin-top: -64px;
   margin-bottom: 129px;
   position: relative;
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;

   //Адаптив
   @media (max-width: $max_tablet) {
      margin-top: 0;
      width: 100%;
   }


   &__filter {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;
      width: 380px;

      @media (max-width: $small_mobile) {
         max-width: 305px;
         width: 100%;
         flex-wrap: wrap;
      }

   }


   .hr_top {
      width: 63px;
      height: 3px;
      background-color: $pink;
      border: none;
   }

   .hr_buttom {
      // width: 640px;
      width: 57%;
      height: 1px;
      border: none;
      background-color: $gray;
   }

   & h2 {
      padding-top: 64px;
      padding-bottom: 13px;
      color: $pink;
      @include font_14;
   }

   & h3 {
      margin-top: 12px;
      color: #4D4D4D;
      @include font_18;
   }

   & p {
      margin-top: 48.5px;
      color: #5E5E5E;
      text-align: center;
      width: 50%;
      @include font_14;

      //Адаптив
      @media (max-width: $max_tablet) {
         width: 80%;
      }

      @media (max-width: $max_mobile) {
         width: 90%;
      }
   }

   &__price {
      line-height: 29px;
      color: $pink;
      margin: 32px 0 65px 0;
      @include font_24;
   }

   // Не получается стилизовать элементы select и option. Без JS получится?
   & select {
      text-transform: uppercase;
      color: #6F6E6E;
      background: #FFFFFF;
      border: none;
      @include font_14;

      //Адаптив
      @media (max-width: $max_mobile) {
         @include font_10;
      }

   }

   &__button {
      display: flex;
      justify-content: center;
      margin: 49px 0 65px 0;
   }

   &__input {
      border: 1px solid $pink;
      text-decoration: none;
      padding: 14px 25px;
      color: $pink;
      display: flex;
      justify-content: space-between;

      &:hover {
         color: white;
         background-color: $pink;
         transition: 0.3s;
      }

      & i {
         padding-right: 20px;
         padding-top: 2px;
      }
   }
}

.product__margin-top {
   margin-top: 128px;

   //Адаптив
   @media (max-width: $max_mobile) {
      margin-top: 64px;
   }
}

.display-none {
   @media (max-width: $max_tablet) {
      display: none;
   }
}