.browse {
  display: flex;
  justify-content: center;
  margin: 48.5px 0 95.5px 0;
  color: $pink;

  //Адапив
  @media (max-width: $max_tablet) {
    margin: 33px 0 64px 0;
  }

  & a {
    padding: 13.5px 30px;
    text-decoration: none;
    text-align: center;
    border: 1px solid $pink;
    color: $pink;
    @include font_16;

    &:hover {
      color: white;
      background: $pink;
      transition: 0.3s;
    }
  }
}