@import './components/header/header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

}

//Размеры экрана
$max_tablet: 1024px;
$max_mobile: 600px;
$small_mobile: 400px;
$max_desktop: 1600px;

//Переменные
// $pink: #F16D7F;
// $black: #222222;
// $gray: #9F9F9F;